<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <dependency>
        
    </dependency>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <!-- 下面这行是DBManager这个类的定位，“包名”替换为你在前面第4步中创建的包名，区分大小写！！！ -->
        <servlet-class>net.Implementist.Utils.DBManager</servlet-class>
        <init-param>
            <param-name>DBUsername</param-name>
            <!-- 这里是数据库用户名，一般情况下是root，无需改变 -->
            <param-value>sqh</param-value>
        </init-param>
        <init-param>
            <param-name>DBPassword</param-name>
            <!-- 下面这两个标签中间写你的数据库密码，如果没设置就什么也别写，空格也不能有 -->
            <param-value>123456</param-value>
        </init-param>
        <init-param>
            <param-name>ConnectionURL</param-name>
            <!-- qutao是数据库的名字 -->
            <param-value>jdbc:mysql://localhost:3306/qutao?characterEncoding=utf8</param-value>
        </init-param>
        <!-- 下面这行很重要，指示服务器在启动时立即加载这个Servlet -->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Signup_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Signup_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Setting_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Image_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Person_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Person_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publish_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Publish_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F1Fragment_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.F1Fragment_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goodslist_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Goodslist_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goodsdetail_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Goodsdetail_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mycollect_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Mycollect_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mypublish_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Mypublish_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mybuy_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Mybuy_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Charity_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Charity_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buydetail_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Buydetail_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message_Servlet</servlet-name>
        <servlet-class>net.Implementist.Servlet.Message_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup_Servlet</servlet-name>
        <url-pattern>/Signup_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_Servlet</servlet-name>
        <url-pattern>/Setting_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image_Servlet</servlet-name>
        <url-pattern>/Image_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Person_Servlet</servlet-name>
        <url-pattern>/Person_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publish_Servlet</servlet-name>
        <url-pattern>/Publish_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F1Fragment_Servlet</servlet-name>
        <url-pattern>/F1Fragment_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goodslist_Servlet</servlet-name>
        <url-pattern>/Goodslist_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goodsdetail_Servlet</servlet-name>
        <url-pattern>/Goodsdetail_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mycollect_Servlet</servlet-name>
        <url-pattern>/Mycollect_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mypublish_Servlet</servlet-name>
        <url-pattern>/Mypublish_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mybuy_Servlet</servlet-name>
        <url-pattern>/Mybuy_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account_Servlet</servlet-name>
        <url-pattern>/Account_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Charity_Servlet</servlet-name>
        <url-pattern>/Charity_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buydetail_Servlet</servlet-name>
        <url-pattern>/Buydetail_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message_Servlet</servlet-name>
        <url-pattern>/Message_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
